* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-micho-handwriting: var(--font-micho-handwriting);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
