* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Micho Handwriting';
  src: url('/fonts/Michohandwriting-Regular.otf') format('opentype'),
       url('/fonts/Michohandwriting-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
